/* General Styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    height: 100%;
  margin: 0;
}

.section_title_sub{
    color: #4d4d4d  ;
    font-weight: 700;
    font-size: 25px;
}

/* Header Wrapper Styles */
.header_wrapper {
    background-color: #f0f8ff;
    width: 100%;
    top: 0;
    padding-top: 50px;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
  }
section {
    padding: 60px 0;
    overflow: hidden;
    scroll-margin-top: 70px;
    overflow: clip;
  }
  
.dropdown-item.active, .dropdown-item:active{
    background-color: rgba(247, 246, 245, 0.884);
    color: #ffc900 ;
}
.navbar {
    margin: 0 2%;
    position: fixed;
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 96%;
    max-height: 115px;
    font-size: 18px;
}
.navbar :hover{
    color:#ffc900;
}

.navbar a.active {
    color: #ffc900 !important;
    font-weight: 600;
}

.navbar-nav .nav-item {
    margin-right: 50px; 
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Hide dropdown by default */
.dropdown-menu {
    display: none;
}

.navbar .dropdown-menu .dropdown-item{
    border-bottom: 1px solid #dee2e6; 
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
}

.navbar-nav .nav-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}

/* Optional: Add some padding for list items */
.navbar-nav .nav-link {
    padding: 10px 15px; /* Adjust as necessary */
}

.navbar .dropdown-menu li:first-child .dropdown-item {
    padding-top: 0; /* Targets the first <li> and its child <a> */
}

.navbar-logo {
    height: 130px; /* Adjust this value to fit your desired logo height */
    width: auto;  /* This will maintain the aspect ratio of the image */
    max-width: 130px; /* Optional: set a maximum width if needed */
}

.navbar-nav .nav-link.active{
    color: #ffc900 ;
    /* background-color: rgba(247, 246, 245, 0.884); */
}

.offcanvas {
    width: 70% !important; /* Adjust width to cover half the screen */
}

.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}
.btn-appointment {
    padding: 15px 30px; /* Adjust padding for the button */
    background-color: #ffc900; /* Customize background color */
    color: white; /* Customize text color */
    border: none; /* Remove border */
    border-radius: 20px; /* Ensure it has rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-left: auto;
    margin-right: 100px;
    font-size: 20px;
    font-weight: 600;
}

.btn-appointment:hover {
    background-color: #eebb03; /* Change background color on hover */
    color: white;
}
.nav-link {
    display: flex; /* Use flexbox for the link */
    justify-content: space-between; /* Space between text and icon */
    align-items: center; /* Align items vertically center */
    padding-right: 10px; /* Optional: adjust the padding to reduce space */
}

.arrowRight_appoitmentBTN{
    margin-left: 10px;
}

.expand-icon {
    margin-left: 10px; 
    transition: transform 0.2s; /* Animation duration */
}

.collapse.show + .expand-icon {
    transform: rotate(45deg); /* Rotate the icon when expanded */
}


#treatmentCollapse .list-unstyled {
    padding-left: 0; /* Reset default padding for the ul */
    border-bottom: 1px solid #dee2e6; 
}

#treatmentCollapse .dropdown-item {
    padding: 10px 15px; /* Add padding to each dropdown item */
    margin-left: 10px;
    border-bottom: 1px solid #dee2e6; 
}
.offcanvas-body .navbar-nav .nav-item{
    border-bottom: 1px solid #d1d2d381; 
}

.bookBtn_mobile{
    background-color: #ffc900;
    color: white;
}


.hero-section {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero-section h1 {
    font-size: 3rem;
} */

/* landingpage css */
/* Landing Page Section Styles */
.landing-page-section {
    background-color: #f0f8ff;
    padding: 60px 20px;
    position: relative; 
}

.landing-content {
    position: relative; 
    max-width: 1250px; 
    margin: 0 auto;
    padding: 0; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    z-index: 10;
}

/* Landing Heading Styles */
.landing-heading {
    font-size: 100px;
    color: #4d4d4d;
    font-weight: 700;
    position: relative; 
    display: inline-block; 
    margin-top: 180px;
    line-height: 0.95 !important;
    z-index: 10;
}

.landing-subheading {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 20px; 
    padding-top: 10px;
    line-height:0.95 !important;
    z-index: 10;
}
.smile-logo {
    width: 150px;
    height: 150px; 
    position: absolute;
    top: 85px;
    right: -10px;
}

.image-container {
    position: absolute;
    right: 0;
    z-index: 1 !important;
    transform: translate(-55%, 5%);
    mask-image: linear-gradient(to top, #ffffff00 5%, #fffffff5 50%); 
}

.right-image {
    width: 350px;
    max-width: 100%;
}

.header-gradient {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    /* background: linear-gradient(180deg, rgba(243, 255, 255, 0) 0%, rgba(243, 255, 255, 0.5) 50%, rgba(243, 255, 255, 0.85) 80%, rgba(243, 255, 255, 0.95) 90%, rgba(243, 255, 255, 1) 95%, rgba(243, 255, 255, 1) 100%); */
    z-index: 8;
}


@media (max-width: 768px) {
    .landing-heading {
        font-size: 60px;
        margin-top: 140px;
    }

    .smile-logo {
        width: 150px;
        height: 150px;
        top: 40px;
        right: -40px;
    }
    .hero-title{
            font-size: 3.5rem !important;
            padding: 10px;
            line-height: 1.1 !important;
    }


    .image-container {
        position: absolute;
        right: 0;
        z-index: 1 !important;
        transform: translate(-0%, -2%);
    }

    .header-gradient {
       
    }
}

@media (max-width: 480px) {
    .contact-info{
        margin-top: -20px !important;
    }
    .navbar-nav .nav-item {
        margin-right: 0px; 
    }
    .navbar-nav .nav-link.active{
        background-color: rgba(247, 246, 245, 0.884);
    }
}

/* Contact Info Section */
.contact-info {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    margin-top: 40px;
    width: 107%;
    gap: 20px;
    flex-wrap: wrap; 
}

/* Individual Info Item */
.info-item {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1 1 30%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10 ;
}

.special_iconCSS{
    font-size: 95px;
    padding-right: 80px;
    color:#ff9157;
    margin-top: 5px;
}
.special_iconCSS2{
    font-size: 95px;
    padding-right: 80px;
    color: #6f6f6f;
    margin-bottom: 20px;
}

.info-item img{
    width: 90px;
    height: 90px;
    margin-left:-23px;
    margin-right: 20px;
    margin-top: 7px;
}

.info-item i {
    width: 90px; 
    height: 90px; 
    margin-right: 20px; 
}

/* Info Text */
.info-text {
    padding-left: 40px;
    font-size: 16px;
    color: #4d4d4d; 
    z-index: 10;
}

.info-text strong {
    font-size: 24px; 
    line-height: 0.95;
}

.another_span_info_text{
    font-size: 20px;
    font-weight: 500;
    color: #4d4d4d;
}

.info-subtext {
    position: relative;
    font-size: 17px; 
    color: #6c6c6c;
    z-index: 10;
}

/* Divider Between Items */
.info-divider {
    height: 165px; 
    width: 2px;
    background-color: #858585; 
    margin: 0 10px; 
    z-index: 10;
}



.h1_title_we{
    color: #ffc900;
    font-weight: 600;
    font-size: 60px;
}

.p_we_style{
    font-size: 20px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .contact-info{
        gap: 10px;
        width: 100%;
    }
    .info-item {
        width: 90%;
        margin-bottom: 0px;
        margin-right: -1px;
    }

    .info-item i {
        width: 40px !important;
        height: 40px !important;
        margin-right: 15px; 
        
    }

    .info-item img{
        width: 70px !important;
        height: 70px !important; 
        margin-left: 0px;
    }

    .info-text {
        font-size: 20px; 
        padding-left: 0px;
    }

    .info-text strong {
        font-size: 22px;
    }
    
    .another_span_info_text{
        font-size: 18px;
    }

    .info-subtext {
        font-size: 16px;
    }
    .special_iconCSS{
        margin-bottom: 60px !important;
        font-size: 70px !important;
    }
    .special_iconCSS2{
        margin-bottom: 60px !important;
        font-size: 70px !important;
    }
}

/* Responsive styling for screens smaller than 768px */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-divider {
        height: 2px;
        width: 100%;
        background-color: #858585;
        margin: 0 0px;
        z-index: 10;
        margin-bottom: 10px;
    }

    .divider-1{
        margin-top: -10px;
    }

    .info-item {
        width: 100%; 
        margin-bottom: 10px;
    }

    .info-item i {
        width: 50px; 
        height: 50px;
        margin-right: 15px;
    }

    .info-item img{
        width: 90px; 
        height: 90px;
        margin-right: 1px;
        margin-left: 0px;
    }

    .info-text {
        font-size: 25px;
    }

    .info-text strong {
        font-size: 27px; 
    }
    
    .another_span_info_text{
        font-size: 20px;
    }

    .info-subtext {
        font-size: 18px;
    }

    .image-container {
        text-align: center;
        margin-top: 20px; 
        position: relative; 
        z-index: 0; 
    }
    .h1_title_we{
        font-size: 40px;
    }
    
}

/* Very small screens (below 480px) */
@media (max-width: 480px) {
    .info-divider {
        width: 100%;
    }
    .p_we_style{
        font-size: 18px;
    }
    .image-container {
        left:18px;
    }
}


/* end landingpage css */

/* Card Styles */
.card {
    border: none; /* Remove default border */
    border-radius: 10px; /* Increase border-radius for smoother corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
    background-color: #fff; /* Light background color */
}

.card_container{
    max-width: 500px;
    margin: 0 auto;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #e1e1e1; 
}

/* Card title styling */
.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d  ; /* Navy blue for titles */
    margin-bottom: 15px;
}

/* Card text styling */
.card-text {
    font-size: 16px;
    color: #4a4a4a; /* Darker gray for text */
}

/* Image inside card */
.card-img-top {
    width: auto;
    margin-right: 10px; /* Space between images */
    height: 58px;
}
.visa_img_top{
    width: auto;
    margin-right: 10px; /* Space between images */
    height: 40px;
}
.card-body {
    height: 180px; /* Set a fixed height for the card body */
}

/* Responsive design for cards */
@media (max-width: 768px) {
    .card-img-top {
        height: 40px; /* Reduce image height on smaller screens */
    }
    .visa_img_top{
        height: 30px;
    }
    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }
}

.video-container {
    position: relative;
    margin-top: 80px;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000; /* Optional: to give a black background */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* slideshow section for brand */
/* Basic section styling */
.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}
.logo-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure images fit without distortion */
    border-radius: 15px;
    overflow: hidden; 
}

.our_panel-section{
    background-color: #f0f8ff;
    padding:0;
    padding-bottom: 55px;
}

.join_community-section{
    background-color: #f0f8ff;
    height: 920px;
}

.post_slide {
    height: 550px; /* Adjust height for the image */
    margin: auto;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
}

.post_slide .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(350px * 14); /* Adjust according to image size */
}

.post_slide .post_slide {
    height: 450px; /* Same height as the post_slide container */
    width: 400px; /* Adjust width for images */
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
    text-align: center; /* Centers the button horizontally */
    margin-top: 20px; /* Adds space above the button */
}

.insta-button {
    display: inline-block;
    background-color: #ffc900; /* Blue color */
    color: white;
    font-size: 20px;
    padding: 30px 30px;
    border-radius: 50px; /* Rounded corners */
    text-decoration: none;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

.insta-button:hover {
    background-color: #d7aa07; /* Darker blue on hover */
}

.insta-button::after {
    content: '→'; /* Adds arrow after the text */
    padding-left: 5px;
}
/* Ensure all images are responsive and maintain the same size */
.logo-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure images fit without distortion */
}
.post_slide:hover .slide-track {
    animation-play-state: paused; /* Pauses the animation on hover */
}

@keyframes scroll {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(calc(-250px * 7)); 
    }
}

/* Smaller screens - adjust logo size and spacing */
@media (max-width: 768px) {
    .logo-items i {
        font-size: 6vw; /* Increase size for smaller screens */
        margin: 0 10px; /* Reduce margin between logos */
    }
}




/* end slideshow section for brand */
.number {
    font-weight: bold;
    margin-right: 10px; /* Adjust spacing between number and image */
    color: #ffc900;
    font-size: 30px;
    padding-right: 20px;

}

/* Change the color of the number on item hover */
.treatment-item:hover .number {
    color: #fff; /* Change to your desired hover color when the item is hovered */
    font-size: 30px;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.item_container_div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.treatment_h1_title{
    color: #ffc900;
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 60px;
}

.treatment-item {
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 40px;
    background: white;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box; /* Ensure padding and border don't exceed width */
    margin-bottom: 2px; /* Space between items */
}
/* After and Before Pseudo-elements for border animation */
.treatment-item::after,
.treatment-item::before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s ease-in-out;
    border-radius: 10px; /* Added rounded corners for border */
}

/* Top-left corner border */
.treatment-item::after {
    top: -1px;
    left: -1px;
    
}

/* Bottom-right corner border */
.treatment-item::before {
    bottom: -1px;
    right: -1px;

}

/* Hover effect for background and border animation */
.treatment-item:hover {
    border-top-right-radius: 10px; /* Keep rounded corners on hover */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; /* Keep rounded corners on hover */
    border-bottom-right-radius: 10px;
    background-color: #ffc900;
    color: #fff;
}

/* Expand borders on hover */
.treatment-item:hover::before,
.treatment-item:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Keep the border rounded when expanded */
}


.treatment-item img {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    margin-right: 30px; /* Space between image and text */
}

.treatment-item p {
    font-size: 38px;
    text-align: left; /* Align text to the left */
    color: #4d4d4d  ; /* Set text color to black */
    flex: 1; /* Allow the text to grow and fill available space */
    font-weight: 600;
}

.treatment-item i {
    font-size: 58px;
    flex: 1; /* Allow the text to grow and fill available space */
}

.icon {
    opacity: 0; /* Initially hidden */
    transform: translateX(30px); /* Start slightly to the right */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Increase transition duration */
    margin-left: 10px; /* Space between text and icon */
}

/* Show icon on hover */
.treatment-item:hover .icon {
    opacity: 1; /* Show icon on hover */
    transform: translateX(0); /* Move to original position */
}

.separator {
    border-bottom: 2px solid #ffc900; /* Add a bottom border for separation */
    width: 100%;
}

@media (max-width: 768px) {
    .treatment-item {
        width: 100%; /* Full width for mobile screens */
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .treatment-item img {
        width: 80px; /* Smaller images on mobile */
        height: 80px;
    }

    .treatment-item p {
        font-size: 28px; /* Smaller text size on mobile */
    }

    .treatment-item i {
        font-size: 40px; /* Adjust icon size */
    }

    .number {
        font-size: 20px; /* Adjust number size */
    }
    .section_title_sub{
        font-size: 20px;
    }
    .treatment_h1_title{
        font-size: 40px;
        padding-bottom: 40px;
    }
    
}

@media (max-width:480px){
    .item_container_div{
        padding-inline: 25px !important;
    }
    .treatment-item:hover .number {
        font-size: 18px;
        margin-left: 5px;
    
    }
    .treatment-item:hover .icon{
        margin-right: 8px;
    }
}

.hero-section {
    background-color: #e5f7ff; /* Light background color */
    padding: 50px 0; /* Vertical padding */
}

.hero-content {
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto; /* Center the content */
}

.hero-title {
    font-size: 6rem;
    font-weight: 700; /* Make the font bold */
    color: #4d4d4d ; /* Dark color for text */
    margin: 0; /* Remove default margin */

    line-height: 0.95;
}

.hero-subtitle {
    color: #4d4d4d  ;
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px; /* Space between title and subtitle */
}

.services-section .service-box {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px;
}

.section_why_choose_us {
    background-color: #f8f9fa; /* Light background for the section */
    padding: 30px;
    border-radius: 10px;
}

.section_why_choose_us .feature-image {
    width: 100px; /* Ensure the image has a visible size */
    height: auto;
    display: block;
    margin-top: 20px;
    /* margin: 0 auto;     Center the image */
}
.section_why_choose_us .feature-number {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 15px;
    position: relative;
    letter-spacing: -2px; /* Adjust this value to reduce spacing between spans */
}

.section_why_choose_us .feature-title {
    font-size: 41px;
    font-weight: 600;
    margin-top: -15px;
    color: #ffc900;
    word-spacing: 30px;
    
}

.why_us_sectionTitle{
    color: #ffca0a;
    font-weight: 600;
    font-size:45px;
    padding-bottom: 50px
}

.section_why_choose_us .container{
    max-width: 1820px;
}

@media (max-width:480px){
    .thebox_whyus{
        padding-left: 15px !important;
    }
    .why_us_sectionTitle{
        font-size:40px !important;
        padding-bottom: 0px !important;
    }
    .section_why_choose_us .feature-image {

        margin-top: 40px;
    }
    .section_why_choose_us .feature-number{
        font-size: 18px;
    }
    .section_why_choose_us .feature-title{
        font-size: 25px;
    }
    .section_why_choose_us .feature-description{
        font-size: 16px !important;
    }
    .hero-subtitle {
        font-size: 18px;
    }
}


.thebox_whyus{
    padding-left: 50px;
}

.why_us_border{
    border-right: 1px solid #ccc
}


.feature-number.waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 4s infinite;
    animation-delay: calc(.8s * var(--i));
    color: inherit; /* To inherit the text color */
}

@keyframes waviy {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}


.section_why_choose_us .feature-description {
    font-size: 20px;
    margin-top: 10px;
    color: #000000;
    line-height: 1.5;
    font-weight: 500;
}

.slideshow-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide img {
    width: 500px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin: 10px;
  }
  
  .text {
    text-align: center;
    margin-top: 20px;
  }
  
  .text h3 {
    font-size: 24px;
  }
  
  .text p {
    font-size: 18px;
  }

  .footer {
    background-color: #f8f9fa;
    padding: 15px 0;
  }

  .footer-link{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  }
  
  /* .footer-logo {
    width: 250px; 
  } */
  
  .footer-location-link, .footer-contact {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin-left: 50px;
  }

.footer-social-link{
    font-size: 28px;
    color: #333;
    text-decoration: none;
}

.footer-social-link i{
    border-radius: 50%;
    border: 1px solid #333;
    padding: 10px;
    height: 50px;
    width: 50px;

}

  
  .footer-location-link:hover, .footer-social-link:hover {
    color: #0056b3; /* Hover color */
  }
  
/*   
  .footer-contact + .footer-contact {
    margin-left: 10px;
  } */

  /* .right-footer-section{
    padding-left: 400px;
} */
@media (max-width:480px){
    .footer-link{
        font-size: 18px;
        margin-left: 20px;
      }
    .social_icon_footer{
        margin-left:2px;
        padding-bottom: 24px;
    }
    .copyright_footer_msg{
        margin-left:15px;
    }
  .footer-logo {
    width: 150px; 
    margin-right: 0;
  }
  .footer-location-link, .footer-contact {
    font-size: 18px;
    margin-left: 20px;
  }
  .footer-social-link{
    margin-left:13px;

  }
  .card-location {
    height: 500px !important;
}

.card-location-image {
    height: 250px !important;

}

.waze-icon {
    bottom: 15px;
    right: 22px;
    width: 50px !important; /* Size of the Waze icon */
    height: 50px !important; 
}

.waze-icon i {
    color: white;
    font-size: 25px !important;
}
.card-location-content h3 {
    font-size: 25px !important;
}

.card-location-content p {
    font-size: 16px !important;
}

.h1_title_we {
 margin-top: -15px;
}

.location_mainsection{
    height: 400px !important;
}

}
@media(max-width: 768px){
    .footer-location-link, .footer-contact {

        margin-left: 0px;
      }
}

.location_show_cardSection{
    padding: 0;
}

.location_content_section{  
    padding: 0 !important;
    margin: 100px auto; /* Center the content */
}

.location_mainsection{
    background-color: #f0f8ff;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

@media screen and (min-width: 1735px) {
    .card_location_section .container{
        max-width: 1800px !important;
    }
    .whatsapp-float {
        width: 95px !important;
        height: 95px !important;
    }
    .card-location-content h3 {
        font-size: 45px !important;

    }
    
    .card-location-content p {
        font-size: 19px !important;
    }
    .item_container_div {
        max-width: 1800px !important;
    }
    .landing-content{
        max-width: 1700px;
    }
}


.card-location {
    width: 100%; /* Allow it to be responsive within col-lg-4 */
    max-width: 555px;
    /* min-width: 439.987px; */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 100%;
    /* max-height: 600px; */
}

.card-location:hover {
    transform: translateY(-5px);
}

.card-location-image {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust based on desired height */
    overflow: hidden;
}

.card-location-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.waze-icon {
    position: absolute;
    bottom: 15px;
    right: 22px;
    width: 75px; /* Size of the Waze icon */
    height: 75px;
    background-color: #299dcb; /* Waze icon background color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px;
    transition: transform 0.3s;
}

.waze-icon i {
    color: white;
    font-size: 38px;
}

.waze-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.waze-icon:hover {
    transform: scale(1.1);
}

.card-location-content {
    padding: 20px;
    background-color: #fff;
}

.card-location-content h3 {
    font-size: 35px;
    color: #4d4d4d ; /* Adjust color to match design */
    margin: 0;
    font-weight: 700;
    padding: 20px;
}

.card-location-content p {
    font-size: 18px;
    color: #6c6c6c;
    margin-top: -18px;
    padding: 20px;
}

.find_us-card {
    position: relative;
    width: 90%;
    max-width: 1700px;
    margin: 50px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    background: url('../image/promote_img3.jpg') no-repeat center center/cover;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 30px;

}

.find_us-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.197); /* Semi-transparent black */
    z-index: 0; /* Place the overlay behind the content */
}

.card-content {
    max-width: 50%;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    position: relative; /* For stacking with SVG */
    z-index: 1; /* Bring content on top of SVG */
    color: #4d4d4d  ;
}

.card-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    color: #ffc900;
    font-weight: 600;
}


/* Paragraph Styling */
.card-content p {
    font-size: 18px;
    margin: 15px 0;
    color: #555;
    font-weight: 500;
}

/* Button Styling */
.explore-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc900;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 15px;
    transition: background-color 0.3s;
    padding: 20px;
    font-weight: 600;
}

.explore-btn:hover {
    background-color: #0056b3;
}




.whatsapp-float {
    position: fixed;
    bottom: 2.34vw;
    right: 1.61vw;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    overflow: hidden; /* Ensures any overflow is cut off */
    z-index: 500;
}

.whatsapp-float img {
    width: 100%; /* Ensures the image fills the circle */
    height: 150%;
    object-fit: cover; /* Ensures it covers the circle without distortion */
}

.whatsapp-float i {
    font-size: 32px;
    color: #25D366;
}
/* SVG Path Styling */
.animated-line {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    overflow: visible;
    stroke-dasharray: 0; /* To prevent rendering issues initially */
}

.owl-carousel .item img {
    width: 100%; 
    height: auto; 
    border-radius: 15px; 
    object-fit: cover; 
}

.owl-carousel .item {
    width: 100%; 
    height: 550px; /* Adjust based on your design */
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Styling the images */
.owl-carousel .item img {
    max-width: 100%;
    max-height: 70%; /* Adjust based on your design */
    object-fit: contain;
}

/* Styling the caption */
.owl-carousel .item .caption {
    font-size: 16px; /* Caption font size */
    font-weight: 600; /* Slightly bold */
    color: #333; /* Text color */
    text-align: center; /* Center align the text */
    margin-top: 10px; /* Space between image and caption */
}
.owl-theme .owl-nav span{
    font-size: 40px;
}
.owl-theme .owl-nav button {
    font-size: 24px; /* Increase button text/icon size */
    padding: 10px 20px; /* Add more padding to make the button bigger */
    width: 50px; /* Set a custom width */
    height: 50px; /* Set a custom height */
    border-radius: 50%; /* Make the button circular (optional) */
    color: #ffc900 !important; /* Custom text/icon color */
    border: none; /* Remove border */
    transition: all 0.5s ease-in-out; /* Smooth transition for hover effects */
}

.owl-carousel .owl-nav i{
    font-size: 60px;
}

.owl-carousel .owl-nav button.owl-prev {
    margin-right: 30px !important; 
}
.owl-carousel .owl-dots{
    margin-top: 20px !important;
}
/* .owl-carousel .owl-nav button.owl-next {
    margin-right: -30px; 
} */

/* Optional: Add hover effect */
.owl-theme .owl-nav button:hover {
    background-color: transparent !important;
    color: #e0b109 !important; /* Change text/icon color on hover */
}

.payment_h1_title{
    color: #ffc900;
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 40px;
}


.denture-page-section {
    background-color: #f0f8ff; /* Light blue background */
    padding: 60px 20px; /* Top/bottom padding, left/right padding */
    position: relative; /* Make this section relative */
    height: 800px;
}

.denture-content {
    position: relative; /* Make the content relative for absolute positioning */
    max-width: 1250px; /* Set a max-width */
    margin: 0 auto; /* Center the content */
    padding: 0; /* No side padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the left */
    z-index: 10;
}

/* Landing Heading Styles */
.denture-heading {
    font-size: 100px;
    color: #4d4d4d  ; /* Navy blue */
    font-weight: 700;
    position: relative; /* Set position to relative to allow absolute positioning of the image */
    display: inline-block; /* Make the h1 an inline-block to contain the image properly */
    line-height: 0.95 !important;
    z-index: 10;
}
.triple-wording-heading{
    font-size: 85px;
    color: #4d4d4d  ; /* Navy blue */
    font-weight: 700;
    position: relative; /* Set position to relative to allow absolute positioning of the image */
    display: inline-block; /* Make the h1 an inline-block to contain the image properly */
    line-height: 0.95 !important;
    z-index: 10;
}
.denture-subheading {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 20px; 
    padding-top: 10px;
    z-index: 10;
}
.CrownNbridge_sub_text{
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 20px; 
    padding-top: 10px;
    z-index: 10;
}
.denture_image-container {
    position: absolute;
    right: 0;
    z-index: 1 !important;
    background-color: #3385d6;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 150px;
    transform: rotate(5.5deg);
    width: fit-content;
    max-width: 400px;
}
.denture_image-container_teethwhiting{
    position: absolute;
    right: 0;
    z-index: 1 !important;
    background-color: #3385d6;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 150px;
    transform: rotate(5.5deg);
    width: fit-content;
    max-width: 360px;
}
.denture_image-container_crown{
    position: absolute;
    right: 0;
    z-index: 1 !important;
    background-color: #3385d6;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 150px;
    transform: rotate(5.5deg);
    width: fit-content;
    max-width: 400px;
}

.denture_image-container_scaling_polishing{
    position: absolute;
    right: 0;
    z-index: 1 !important;
    background-color: #3385d6;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 150px;
    transform: rotate(5.5deg);
    width: fit-content;
    max-width: 400px;
}
.denture_image-container-dental_implant{
    position: absolute;
    right: 0;
    z-index: 1 !important;
    background-color: #3385d6;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 150px;
    transform: rotate(5.5deg);
    width: fit-content;
    max-width: 350px;
}

.denture-right-image {
    width: 400px; /* Set desired width for the image */
    max-width: 100%;
    border-radius: 10px;
    display: block;
}

.denture-right-image_dental_implant{
    width: 400px; /* Set desired width for the image */
    max-width: 100%;
    border-radius: 10px;
    display: block;
}
/* Image label styling */
.image-label {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0465c6;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
}

.breadcrumb_denture{
    font-size: 20px;
    color: #4d4d4d  ;
    margin-top: 180px;
    z-index: 10;
}

.denture-page-middle_words h1{
    color: #ffc900;
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 40px;
}

.whitening-page-middle_words h1{
    color: #ffc900;
    font-weight: 600;
    font-size: 55px;
    padding-bottom: 40px;
}

.denture-page-middle_words p{
    color: #4a4a4a;
    font-size: 20px;
    text-align: center;
}
/* .underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    animation: underline 3s forwards infinite; 
} */

.faq_title_head{
    color: #ffc900;
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 30px;
}

:root {
    --cards: 3; /* Updated to reflect the number of cards */
    --cardHeight: 87vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}

#denture-cards {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}

.denture-card-scroll {
    position: sticky;
    top: 150px; /* Adjust as needed for spacing from the navbar */
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

.denture-card1 {
    --index: 1;
}

.denture-card2 {
    --index: 2;
}

.denture-card3 {
    --index: 3;
}

.denture-card-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: var(--cardHeight);
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Center align vertically */
    transition: all 0.5s;
}

.text-content {
    margin-right: 20px; /* Add space between text and image */
}

.image-content {
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.image-content img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.denture-card1 .denture-card-body {
    background-color: #dbe0e5;
}
.denture-card2 .denture-card-body {
    background-color: #dbe0e5;
}
.denture-card3 .denture-card-body {
    background-color: #dbe0e5;
}


.denture-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Makes space between text and image */
}

.denture-text-section {    
   padding-left: 50px;
   color: #4d4d4d ;
}

.denture-image-section {
    width: 40%; /* Adjust as needed for layout balance */
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right side */
}

.denture-image-section img {
    width: 100%; /* Image fills its container */
    max-width: 500px; 
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px;
}
.denture-large-text{
    padding-bottom: 80px;
}

.denture-small-text{
    margin-top: 250px;
    font-size: 18px;
}
.denture-small-text2{
    margin-top: 50px;
}
.denture-number{
    color: #ffc900;
    font-size: 25px;
}

.accordion {
    border: none;
  }
  
  .denture_faq_card {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-button {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 35px;
    color: #4d4d4d ;
    /* background-color: #f8f9fa; */
    padding: 50px;
    border: none;
    width: 100%;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button.collapsed {
    /* background-color: #f8f9fa; */
  }
  .accordion-button::after {
    content: none;
  }

  .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}
  .denture_faq_card_body {
    padding: 30px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
  }
  
.accordion-item{
    border: none;
    border-bottom: 1px solid black;
}


  /* Style for the toggle icon */
.toggle-icon-circle {
    background-color: #ffc900; /* Circle background color */
    color: #ffffff; /* Icon color */
    border-radius: 50%; /* Make it circular */
    width: 54px;
    height:54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-left: auto; /* Push to the right */
  }
  .accordion-button[aria-expanded="true"] .toggle-icon-circle {
    content: "-"; /* Change to "-" */
    transform: rotate(0deg); /* Reset rotation */
  }
  .accordion-button.collapsed .toggle-icon-circle {
    content: "+"; /* Change to "+" */
  }
.faq_number{
    font-size: 20px;
    padding-right: 10px;
    color: #ffc900;
}
.dentureCollapse_text{
    font-size: 19px;
    color:#4d4d4d ;
}

.dentureCollapse_ul{
    font-size: 19px;
    color: #4a4a4a;
}

/* Card styling */
.appointment-card {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 48px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

/* Icon styling */
.appointment-icon {
    background-color: #ffc900;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
}

/* Text styling */
.invite-text {
    color: #ffc900;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 10px;
}

.appointment-title-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between title and button */
    justify-content: center;
    
}
.appointment-title-container a{
    text-decoration: none;
}
.appointment-title {
    font-size: 28px;
    color: #4d4d4d ;
    font-weight: bold;
    margin: 0;
}

/* Button styling beside title */
.appointment-button {
    background-color: #ffc900;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.appointment-button a {
    text-decoration: none;
    color: white;
}
/* Subtext styling */
.appointment-subtext {
    font-size: 21px;
    color: #4a4a4a;
    margin: 5px 0 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .denture-card-content {
        flex-direction: column; /* Stack vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .denture-image-section {
        margin-top: 10px; /* Space between text and image when stacked */
    }
    .denture-card-scroll {
        top: 120px; 
    }
    
}

/* Add media query for responsiveness on mobile devices */
@media (max-width: 768px) {
    #denture-cards {
        grid-template-columns: 1fr; /* Stacking cards in a single column on mobile */
    }
}


@keyframes underline {
    to {
        transform: scaleX(1); /* Scale to full width */
    }
}

@media (max-width: 1222px){
    .denture_image-container{
        left: 0;
        margin-top: 450px;
    }
    .denture_image-container_teethwhiting{
        left: 0;
        margin-top: 450px;
    }
    .denture_image-container_crown{
        left: 0;
        margin-top: 450px;
        max-width: 380px;
    }
    .denture_image-container_scaling_polishing{
        left: 0;
        margin-top: 450px;
    }
    .denture_image-container-dental_implant{
        left: 0;
        margin-top: 450px;
    }
    .denture-page-section{
        height: 1100px;
    }
    .btn-appointment{
        margin-right: 0;
    }
    .denture-large-text{
        padding-bottom: 10px;
        font-size: 25px;
    }
    .denture-small-text{
        margin-top: 10px;
    }
    .denture-image-section {
        width: 35%;
        margin-left: 40px;
}
    
    .dentureCollapse_ul{
        font-size: 20px;
    }
    .accordion-button{
        font-size: 25px;
    }
    .toggle-icon-circle{
        width: 46px;
        height:44px;
        min-width: 46px;
        min-height: 40px;
    }

    .faq_title_head{
        font-size: 45px;
    }
}

@media (max-width:768px){
    .faq_title_head{
        font-size: 45px;
    }
    .denture-heading {
        font-size: 65px;
    }
    .triple-wording-heading{
        font-size: 65px;
    }
    .denture-subheading {
        font-size: 22px;
    }
    .CrownNbridge_sub_text{
        font-size: 17px;
    }
    .navbar-brand{
        margin-bottom: -40px;
    }
    .denture-large-text{
        padding-bottom: 10px;
    }
    .denture-small-text{
        margin-top: 10px;
    }
    .denture-small-text2{
        margin-top: 5px;
    }
    .denture-image-section {
        width: 65%;
        margin-left: 40px;
}
    .denture_image-container-dental_implant{
        left: 0;
        margin-top: 500px;
    }
    .toggle-icon-circle{
        width: 46px;
        height:44px;
        min-width: 46px;
        min-height: 40px;
    }
}
@media (max-width: 412px){
    .card {
        width: 300px;
        height: 180px;
        margin-left: 33px;
    }
    .owl-carousel .item img {
        max-width: 400px !important;
    }
    .denture_image-container_crown{
        margin-top: 480px !important;
        height: 322px;
    }
    .denture_image-container-dental_implant{
        margin-top: 520px !important;
        height: 302px;
    }
    .denture_image-container_scaling_polishing{
        margin-top: 380px !important;
        max-width: 360px !important;
    }
    .denture-right-image{
        height: 300px;
        width: 300px;
    }
    .denture-right-image_dental_implant{
        height: 280px;
        width: 280px;
    }
    .toggle-icon-circle{
        width: 46px;
        height:44px;
        min-width: 46px;
        min-height: 40px;
    }
    .card {
        margin-left: 21px !important;
    }
    .our_panel-section {
        padding-top: 15px;
    }
}

@media (max-width:480px){
    .navbar-brand {
        margin-bottom: -70px;
        height: 180px;
    }
    .faq_title_head{
        font-size: 40px;
    }
    .denture-large-text{
        padding-bottom: 0;
    }
    .denture-small-text{
        margin-top: 0px;
    }
    .denture-small-text2{
        margin-top: 10px;
        font-size: 14px;
    }
    .denture-page-section {
        height: 900px;
    }
    .denture_image-container{
        margin-top: 400px;
        left: 5px;
    }
    .denture_image-container_teethwhiting{
        left: 0;
        margin-top: 450px;
    }
    .denture_image-container_crown{
        left: 0;
        margin-top: 430px;
    }
    .denture_image-container-dental_implant{
        left: 0;
        margin-top: 470px;
    }
    .denture_image-container_scaling_polishing{
        margin-top: 480px !important;
        max-width: 340px !important;
    }
    .denture-heading {
        font-size: 55px;
    }
    .triple-wording-heading{
        font-size: 52px;
    }
    .denture-subheading {
        font-size: 20px;
    }
    .CrownNbridge_sub_text{
        font-size: 16px;
    }
    .breadcrumb_denture{
        margin-top: 150px;
        font-size: 18px;
    }
    .denture-image-section {
            width: 85%;
            margin-left: 40px;
    }
    .dentureCollapse_text{
        font-size: 15px;
    }
    
    .dentureCollapse_ul{
        font-size: 15px;
    }
    .accordion-button{
        font-size: 18px;
    }
    .toggle-icon-circle{
        width: 46px;
        height:44px;
        min-width: 46px;
        min-height: 40px;
    }
    .faq_number{
        padding-right: 25px;
    }
    .appointment-card {
        padding: 48px;
        width: 360px;
    }
    .appointment-title {
        font-size: 20px;
    }
    
    /* Button styling beside title */
    .appointment-button {
        width: 40px;
        height: 40px;
    }
    
    /* Subtext styling */
    .appointment-subtext {
        font-size: 15px;
    }
    .appointment-content{
        width: 300px;
    }
    .invite-text{
        font-size: 18px;
    }
    .right-image {
        width: 330px;
    }
}

@media (max-width:768px){
    .payment_h1_title{
        font-size: 40px;
        padding-bottom: 10px;
    }
    
}

@media (max-width:480px){
    .navbar-toggler {
        width: 40px;            
        height: 40px;            
        border-radius: 50%;         
        padding: 5px;          
        border: none;            
        background-color: #ffc900; 
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        color: white !important;
        width: 20px;           
        height: 20px;          
        margin: auto;          
        display: block;        
    }
    .landing-page-section{
        height: 1280px;
    }
    
    .header_wrapper {
    padding-top: 10px;
}
    .whatsapp-float{
        width: 65px;
        height: 65px;
        bottom: 5vw;
        right: 5vw;
    }
    /* .owl-carousel{
        height: 500px !important;
    } */
     
    .owl-carousel .owl-nav i{
        font-size: 40px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        margin-right: 15px !important; 
    }

    .treatment-item{
        padding: 3px;
    }
    .treatment-item p {
        font-size: 20px !important;
        font-weight: 600;
    }

    .treatment-item img {
        width: 55px;
        height: 55px;
    }


    .insta-button{
        padding: 15px 15px;
    }
    .landing-heading {
        font-size: 50px;
        margin-top: 105px;
    }
    .landing-subheading {
        font-size: 18px;
        color: #4a4a4a;
    }
    .info-item{
        padding: 0;
        padding-left: 20px;
        max-width: 330px;
    }
    .info-item:first-of-type {
        padding-top: 20px;
    }
    .info-item-second {
        margin-top: -15px;
    }
    
    .info-item:last-of-type {
        margin-top: -15px;
    }
    .smile-logo {
        width: 100px; 
        height: 100px;
        top: 23px;
        right: -20px;
    }
    .info-item img {
        width: 45px;
        height: 45px;
        margin-left: 2px;
        margin-bottom: 20px;
    }
    .info-item i {
        width: 55px;
        height: 55px;
        margin-left: 0;
        margin-right: 0;
    }
    .info_img_phone_css{
        margin-left: 31px;
    }

    .info-text {
        font-size: 12px;
        padding-left: 0px;
    }

    .info-text strong {
        font-size: 20px;
    }
    
    .another_span_info_text{
        font-size: 19px;    
        line-height: 0.9;
    }
    .info-subtext {
        font-size: 15px;
    }

    .post_slide {
        margin:15px;
        padding-bottom: 100px;
    }
    .post_slide .post_slide{
        height: 350px;
        width: 250px;
    }
    .join_community-section{
        height: 790px;
    }
    .special_iconCSS{
        font-size: 45px;
        padding-right: 80px;
        margin-bottom: 5px;
    }
    .special_iconCSS2{
        font-size: 45px;
        padding-right: 80px;
       
    }

    .owl-carousel .item{
        height: 500px !important;
    }
    .owl-carousel .item img {
        max-height: 100% !important;;
        margin: 0 auto; /* Centers the image */
        min-height: 400px;
        max-width: 420px;
    }
    .owl-theme .owl-nav{
        margin-top: 0;
    }
    .owl-carousel .item .caption {
        font-size: 14px !important;
    }

    .card-content{
        max-width: 100%;
    }

    .denture-page-middle_words h1{
        font-size: 40px;
    }
    
    .whitening-page-middle_words h1{
        font-size: 35px;
    }
    @keyframes scroll {
        0% { 
            transform: translateX(0); 
        }
        100% { 
            transform: translateX(calc(-650px * 7)); 
        }
    }
    .why_us_border{
        border-right: none;
    }

    .navbar{
        margin: 0 2.5%;
        width: 95%;
        max-height: 155px;
    }

    .navbar-logo {
        height: 165px;
        max-width: 165px;
        margin-top: -35px;
        margin-left: -24px;
    }
    .navbar-collapse{
        text-align: center;
    }
    /* .location_navBTN{
        margin-right: 50px;
    } */
    .card_container{
        padding-inline: 30px;
    }
    .visa_img_top{
        height: 20px;
    }
    .card-img-top {
        height: 40px !important; /* Reduce image height on smaller screens */
    }
    .denture-right-image_dental_implant{
        width: 350px; /* Set desired width for the image */
    }
}